<div class="bs-example">
  <ul class="nav nav-tabs mb-5">
      <li class="nav-item">
          <a href="#" class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link">Profile</a>
      </li>
      <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>
          <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Inbox</a>
              <a href="#" class="dropdown-item">Drafts</a>
              <a href="#" class="dropdown-item">Sent Items</a>
              <div class="dropdown-divider"></div>
              <a href="#"class="dropdown-item">Trash</a>
          </div>
      </li>
      <li class="nav-item dropdown ml-auto">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin</a>
          <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item">Reports</a>
              <a href="#" class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div>
              <a href="#"class="dropdown-item">Logout</a>
          </div>
      </li>
  </ul>
</div>